.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 12vh;
  min-height: 80px;
  padding: 0 12vw;
  background-color: #4caf50;

  .heading {
    h1 {
      margin: 0;
      font-size: 2.5rem;
    }

    .sub-heading {
      margin: 0;
    }
  }
}
