@import 'media/styles/_colors';
@import 'media/styles/_sizes';

.image-link-with-caption {
  width: 23vw;
  height: auto;
  background-color: $secondary;
  border: 1px solid $secondary;
  border-radius: 5px;

  figure {
    margin: 8px 0;

    img {
      width: 23vw;
      height: auto;
    }

    p {
      margin: 5px 0 7px 0;
      font-size: 1.25rem;
    }

    figcaption {
      padding: 2px 0;
    }

    p, figcaption > a {
      color: $white;
      margin-left: 15px;
    }

    .image-link-with-caption-image {
      cursor: pointer;
    }
  }
}

@include tablet-down {
  .image-link-with-caption {
    width: 100%;
    height: auto;
    margin-bottom: 4vh;

    figure img {
      width: 100%;
    }
  }
}
