@import 'media/styles/colors';

$font-stack: Lato, sans-serif;

.nav-bar {
  font-family: $font-stack;

  ul {
    font-size: 1.25rem;

    li {
      display: inline-block;
      margin-right: 3vw;
      &:last-child {
        margin-right: 0;
      }

      a {
        text-decoration: none;
        color: $black;
      }
    }
  }

  .selected {
    color: $white;
  }
}
