@import 'media/styles/colors';
@import 'media/styles/_sizes';

$font-stack: Lato, sans-serif;

.nav-bar {
  font-family: $font-stack;

  ul {
    font-size: 1.25rem;

    li {
      display: inline-block;
      margin-right: 3vw;
      &:last-child {
        margin-right: 0;
      }

      a {
        text-decoration: none;
        color: $black;
      }
    }
  }

  .selected {
    color: $white;
  }

  .nav-narrow {
    display: none;

    .nav-narrow-links {
      display: none;

      li > a {
        display: block;
      }
    }
  }
}

@include tablet-down {
  .nav-bar {
    .nav-wide {
      display: none;
    }

    .nav-narrow {
      display: flex;
      flex-direction: column;

      i {
        font-size: 2rem;
        cursor: pointer;
      }

      .nav-narrow-links {
        position: absolute;
        top: 85px;
        left: 0;
        margin: 0;
        padding: 0;
        background-color: $primary-light;
        box-shadow: -10px 3px 5px $charcoal;

        li {
          display: block;
          width: 100vw;
          padding: 1vh 0;
          border-top: 1px solid $primary-lighter;
          &:last-child {
            border-bottom: 1px solid $primary-lighter;
          }

          a {
            text-align: center;
          }
        }
      }
    }
  }
}
