@import 'media/styles/_colors';
@import 'media/styles/_sizes';

$font-stack: Lato, sans-serif;

.footer {
  display: flex;
  align-items: center;
  height: 6vh;
  padding: 0 12vw;
  background-color: $primary;
  font-family: $font-stack;
  color: $heading;
}

@include tablet-down {
  .footer {
    padding: 0 6vw;
  }
}
