@import 'media/styles/_sizes';

.image-medium-left {
  float: left;
  margin: 7px 2vw 1vh 0;
}

.image-medium-right {
  float: right;
  margin: 7px 0 1vh 2vw;
}

.image-medium-center {
  display: block;
  margin: 2vh auto;
}

@include phone-only {
  .image-medium-left, .image-medium-right {
    float: none;
    display: block;
    margin: 0 auto;
  }
}
