// Background
$primary: #2e7d32;
$primary-light: #388e3C;
$primary-lighter: #43a047;
$secondary: #00838f;

// Text
$black: #000;
$charcoal: #666;
$white: #fff;
$heading: #c5e1a5;
$sub-heading: #aed581;
