@import 'media/styles/_colors';
@import 'media/styles/_sizes';

.image-with-caption {
  width: 23vw;
  height: auto;
  background-color: $secondary;
  border: 1px solid $secondary;
  border-radius: 5px;

  figure {
    margin: 10px 0;

    img {
      width: 23vw;
      height: auto;
    }

    p {
      margin: 4px 0;
      font-size: 1.25rem;
    }

    figcaption {
      padding-top: 4px;
    }

    p, figcaption > a {
      color: $white;
      margin-left: 15px;
    }
  }
}

@include tablet-down {
  .image-with-caption {
    width: 100%;
    height: auto;
    margin-bottom: 4vh;

    figure > img {
      width: 100%;
    }
  }
}
